body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
canvas {
  background-color: #000;
  background-image: url("/images/background.webp");
  background-repeat: repeat;
}
.container{
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
